# API Backend
VITE_API_URL=your_api_url

# API AI (Direct to AI Server for OCR)
VITE_AI_API_URL=your_ai_api_url
VITE_AI_SERVICE_KEY=your_ai_service_key
VITE_SCAN_ENDPOINT=ocr
VITE_AI_INSIGHT_ENDPOINT=/ai/financial-insights/monthly

# Streamlit Data Science Dashboard
VITE_STREAMLIT_URL=your_streamlit_url
