# Server Config Lokal
PORT=3000
NODE_ENV=development

# Database Configuration Main Production(Supabase PostgreSQL)
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=your_db_host
DB_PORT=5432 
DB_NAME=your_db_name
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_KEY=your_supabase_service_key

# Python API 
PYTHON_API_URL=your_python_api_url
AI_INSIGHT_ENDPOINT=ai/financial-insights/monthly
VERYFI_CLIENT_ID=your_veryfi_client_id
VERYFI_CLIENT_SECRET=your_veryfi_client_secret
VERYFI_USERNAME=your_veryfi_username
VERYFI_API_KEY=your_veryfi_api_key
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4o-mini
INTERNAL_SERVICE_KEY=your_internal_service_key

# JWT Secret untuk Autentikasi
JWT_SECRET_KEY=your_jwt_secret_key
CRON_SECRET_KEY=your_cron_secret_key
